<p>1111</p>
<!-- [개발 확인] eslint-disable -->
<div class="info-cnt ani-box">
    <div v-if="item.tags" class="tags ani-cnt">
        <span v-for="(item2, index2) in item.tags" :key="index2" class="ani-txt">{{item2}}</span>
    </div>
    <span>222</span>
    <div v-if="item.desc&&system" class="desc ani-cnt"><div class="ani-txt" v-html="item.desc"></div></div>
    <div class="tit ani-cnt type-po"><div class="ani-txt" v-html="item.title"></div></div>
    <div v-if="item.desc&&!system" class="desc ani-cnt"><div class="ani-txt" v-html="item.desc"></div></div>
</div>
<!-- eslint-disable -->

<!-- po/pjt 추가 20250617 s: 주문 추가 -->
<div class="info-cnt ani-box2">
    <div v-if="item.tags" class="tags ani-cnt">
        <span v-for="(item2, index2) in item.tags" :key="index2" class="ani-txt">{{item2}}</span>
    </div>
    <span>333</span>
    <div v-if="item.desc&&system" class="desc ani-cnt"><div class="ani-txt" v-html="item.desc"></div></div>
    <div class="tit ani-cnt type-po"><div class="ani-txt" v-html="item.title"></div></div>
    <div v-if="item.desc&&!system" class="desc ani-cnt"><div class="ani-txt" v-html="item.desc"></div></div>
</div>
<!-- po/pjt 추가 20250617 e: 주문 추가 -->

<script>

</script>