:root {
  --text-color-grey:#707070;
  --text-color-grey-9:#999;

  --point-color-peach:#e2614b;
  --point-color-orange:#EB5B38;
  --point-color-discount:#DF2101;

  --border-color-light-grey:#f0f0f0;
  --border-color-lighter-grey:#f8f8f8;
  --border-color-grey:#e5e5e5;
  --border-color-grey-c:#ccc;
  
    --header-zidx:5;
    --header-dimmed-zidx:4;
    --actionbar-zidx:5;
    --fixed-button-zidx:10;
    --overlay-zidx:19;
    --navigation-drawer-zidx:20;
    --toast-zindex:300;
  
    --transition-speed: 300ms;
  }