<!DOCTYPE html>
<html lang='ko'>
<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='pragma' content='no-cache'/>
<meta http-equiv='Cache-Control' content='No-Cache'/>
<title>[더한섬닷컴] 1:1 문의에 답변이 등록되었습니다.</title>
</head>

<body>
  <div style='max-width: 730px; width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;'>
    <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
      <tbody>
        <!-- header -->
        <tr>
          <td height='60' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='39' style='border-top:2px solid #000000;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width:100%; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='text-align: left; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}|' target='_blank' style='border: 0; padding: 0; margin: 0;'><img src='http://www.thehandsome.com/_ui/desktop/common/images/email/logo.gif' alt='THEHANDSOME.COM' style='display: block; border: 0;'></a>
                  </td>
                  <td style='text-align: right; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}/ko/ME/login|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>로그인</a>
                    <span style='color: #000000; font-size: 11px; line-height: 11px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: middle; border: 0; padding: 0; margin: 0;'>│</span>
                    <a th:href='|@{${frontUrl}}/ko/CS/csCenterMain|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>고객센터</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='39' style='border-bottom:1px solid #F0F0F0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- // header -->
        <!-- date -->
        <tr>
          <td height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='text-align: right; border: 0; padding: 0; margin: 0;'>
            <p style='text-align: right; color: #000000; font-size: 12px; line-height: 18px; font-family: Dotum, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;' th:text="${eCurYm}">2022. 07. 07 임시 텍스트</p><!-- 실제 반영시 텍스트 삭제할것 -->
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <!-- // date -->
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <p style="color:#000000; font-size:18px; line-height:26px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">고객님께서 문의하신 내용에 대한 답변입니다.</p>
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <h1 style="color:#000000; font-size:32px; line-height:40px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">1:1 문의<br>답변 완료 안내</h1>
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
        <td style="border:0; padding:0; margin:0;">
          <p style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;word-break: keep-all;">안녕하세요,<b th:text="${mbrNm}"></b> 고객님.<br><b th:text="${accpDataArr[0]}"></b>년 <b th:text="${accpDataArr[1]}"></b>월 <b th:text="${accpDataArr[2]}"></b>일 더한섬닷컴 1:1 문의 게시판을 통해 문의해주신 내용에 대한 답변입니다.</p>
        </td>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <p style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">저희 답변 내용이 고객님의 쇼핑에 도움이 되었으면 좋겠습니다.</p>
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
        <td style="border:0; padding:0; margin:0;">
          <p style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;word-break: keep-all;">부족한 점이 있거나 추가로 문의하실 내용이 있으시면 저희 더한섬닷컴 고객센터 1800-5700(유료)로 문의해 주시기 바랍니다.</p>
        </td>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        </tr>
        <tr>
          <td style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">오늘도 감사합니다.</td>
        </tr>
        <tr>
          <td height='72' style="border-bottom:1px solid #000000; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <table style="width:100%; border:0; padding:0; margin:0;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" style="padding:0;margin:0;border:0;">
                    <div style="padding:0;margin:0;">
                      <span style="display: inline-block;padding:2px 4px;vertical-align:top;font-size:10px;line-height:11px;font-weight:bold;color:#ffffff; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none;background:#000000;border:1px solid #000000;" th:text="${cnslTypText}">환불</span><span style="display: inline-block;padding:2px 4px;vertical-align:top;font-size:10px;line-height:11px;font-weight:bold;color:#000000; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none;background:#ffffff;border:1px solid #000000;">답변완료</span>
                    </div>
                    <p style="color:#000000;font-size:22px;line-height:30px;font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none;padding:8px 0 0 0;margin:0;margin:0;" th:text="${accpTitle}">사이즈 교환 문의합니다.</p>
                    <p style="color:#000000;font-size:12px;line-height:18px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none;padding:8px 0 0 0;margin:0;margin:0;" th:text="${accpData}">${creatDt}</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px; border-bottom:1px solid #f0f0f0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="20" style="border:0;padding:0;margin:0;">&nbsp;</td>
                  <td style="border:0;padding: 0 20px 0 0;margin:0;">
                    <p style="color:#000000;font-size:18px;line-height: 26px;font-family:Dotum,sans-serif; font-weight:bold; text-decoration:none;padding:0;margin:0;"><span style="padding:0 8px 0 0;margin:0;">|</span>Q</p>
                    <p style="color:#000000;font-size:14px;line-height: 22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none;padding:8px 0;margin:0;" th:utext="${accpCont}">키가 큰 편이라 L샀는데 생각보다 코트 사이즈가 크네요. M사이즈로 교환 신청합니다. 키가 큰 편이라 L샀는데 생각보다 코트 사이즈가 크네요. M사이즈로 교환 신청합니다. 키가 큰 편이라 L샀는데 생각보다 코트 사이즈가 크네요. M사이즈로 교환 신청합니다. 키가 큰 편이라 L샀는데 생각보다 코트 사이즈가 크네요. M사이즈로 교환 신청합니다.</p>
                    <div style="padding:40px 0 0 0;">
                        <span th:each="atchFile : ${atchFileImgUrl}" style="display:block;float:left;padding:0 1px 1px 0;margin:0;width:83px;height:83px;">
                          <img src="images/dummy-attach-file-img.png" style="display: block; object-fit: cover;height:100%;width:100%;border:0;">
                        </span>
                        <span th:each="atchFile : ${atchFileImgUrl}" style="display:block;float:left;padding:0 1px 1px 0;margin:0;width:83px;height:83px;">
                          <img src="images/dummy-attach-file-img.png" style="display: block; object-fit: cover;height:100%;width:100%;border:0;">
                        </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='40' style='border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;background: #f8f8f8;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="20" style="border:0;padding:20px 0;margin:0;background: #f8f8f8;">&nbsp;</td>
                  <td style="border:0;padding:0 20px 0 0;margin:0;background: #f8f8f8;">
                    <p style="color:#000000;font-size:18px;line-height: 26px;font-family:Dotum,sans-serif; font-weight:bold; text-decoration:none;padding:0;margin:0;"><span style="padding:0 8px 0 0;margin:0;">|</span>A</p>
                    <p style="color:#000000;font-size:14px;line-height: 22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none;padding:8px 0 0 0;margin:0;" th:utext="${ansCont}">요청하신 사이즈 교환 건 접수 진행 도와드리겠습니다.<br>
                      더 궁금하신 부분은 언제든 문의주세요. 감사합니다.</p>
                    <p style="color:#000000;font-size:12px;line-height:18px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none;padding:8px 0 0 0;margin:0;" th:text="${ansDtm}">2021.06.15</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;background: #f8f8f8;'>&nbsp;</td>
                </tr>
              </tbody> 
            </table>
          </td>
        </tr>
        <tr>
          <td height='40' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='border:0; padding:0; margin:0;text-align: center;'>
            <a th:href="${oneToOneList}" style="display:inline-block; color:#ffffff; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; background-color:#000000;border:0; padding:13px 106.5px; margin:0;">1:1 문의 보러가기</a>
          </td>
        </tr>
        <!-- footer -->
        <tr>
          <td height='100' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 정보통신망 이용 촉진 및 정보 보호 등에 관한 법률에 근거하여 수신동의 여부와 관계없이 법적 의무 사항으로 발송 된 메일입니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
            <td height='4' style='line-height:4px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 발신 전용 메일이므로 회신 되지 않습니다. 문의사항은 <a href='' target='_blank' style='color:#707070;font-weight:bold;text-decoration:underline'>고객센터</a>를 이용해 주시길 바랍니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-bottom:1px solid #f0f0f0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='24' style='line-height:24px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='width:100%; padding:0; margin:0;'>
            <table style='width:100%; border:0; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family : Malgun Gothic, sans-serif; font-weight:normal; border: 0; padding: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>(주)한섬</span>
                    <span style='padding:0 10px 0 0; margin:0;'>대표이사 : 김민덕</span>
                    <span style='padding:0 10px 0 0; margin:0;'>서울시 강남구 도산대로 523 한섬빌딩</span>
                    <span style='padding:0 10px 0 0; margin:0;'>TEL 02-3416-2000</span>
                    <span style='padding:0; margin:0;'>FAX 02-516-7028</span>
                  </td>
                </tr>
                <tr>
                  <td height='10' style='line-height:10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>사업자등록번호 120-81-26337</span>
                    <span style='padding:0 10px 0 0; margin:0;'>통신판매업신고번호 강남 제 00826호</span>
                    <span style='padding:0; margin:0;'>개인정보관리책임자 : 이정득</span>
                    <span style='color: #e7e4d7; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: top; border: 0; padding: 0; margin: 0;'>│</span>
                    <a href='https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1208126337&apv_perm_no=' style='color:#000000; font-size:12px; line-height:15px; font-family:Malgun Gothic,sans-serif; text-decoration:underline; padding:0; margin:0;'>사업자정보확인</a>
                  </td>
                </tr>
                <tr>
                  <td height='14' style='line-height:14px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #707070; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-align: left; letter-spacing: 1px; border: 0; padding: 0; margin: 0;'>COPYRIGHT @ 2023 HANDSOME. ALL RIGHT RESERVED.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='30' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <!-- // footer -->
      </tbody>
    </table>
  </div>
</body>
</html>