<!DOCTYPE html>
<html lang='ko'>
<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='pragma' content='no-cache'/>
<meta http-equiv='Cache-Control' content='No-Cache'/>
<title>[더한섬닷컴] $고객명$ 고객님을 위한 e-Gift Card 선물이 도착했습니다!</title>
</head>

<body>
  <div style='max-width: 730px; width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;'>
    <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
      <tbody>
        <!-- header -->
        <tr>
          <td height='60' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='39' style='border-top:2px solid #000000;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width:100%; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='text-align: left; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}|' target='_blank' style='border: 0; padding: 0; margin: 0;'><img src='http://www.thehandsome.com/_ui/desktop/common/images/email/logo.gif' alt='THEHANDSOME.COM' style='display: block; border: 0;'></a>
                  </td>
                  <td style='text-align: right; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}/ko/ME/login|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>로그인</a>
                    <span style='color: #000000; font-size: 11px; line-height: 11px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: middle; border: 0; padding: 0; margin: 0;'>│</span>
                    <a th:href='|@{${frontUrl}}/ko/CS/csCenterMain|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>고객센터</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='39' style='border-bottom:1px solid #F0F0F0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- // header -->
        <!-- date -->
        <tr>
          <td height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='text-align: right; border: 0; padding: 0; margin: 0;'>
            <p style='text-align: right; color: #000000; font-size: 12px; line-height: 18px; font-family: Dotum, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;' th:text="${eCurYm}">2022. 07. 07 임시 텍스트</p><!-- 실제 반영시 텍스트 삭제할것 -->
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <!-- // date -->
        <tr>
          <td style="color:#000000; font-size:18px; line-height:26px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;"><b>김한섬</b> 고객님께서 보내신 e-Gift Card가 도착하였습니다.</td>
        </tr>
        <tr>
          <td height='12' style='line-height: 12px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:32px; line-height:40px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">더한섬닷컴<br>e-Gift Card 선물도착</td>
        </tr>
        <tr>
          <td height='60' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="background:#EB5835; padding:0; margin:0;">
            <table style="width:100%; padding:0; margin:0;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td width="20" style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                  <td width="20" style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                  <td style="padding:30px 0 20px;margin:0 auto; text-align: center;"><img src="images/dummycard-01.png" alt="gift-card" style="max-width: 335px;display: block; margin:0 auto;"></td>
                  <td width="20" style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                  <td width="20" style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                  <td style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                  <td height="30" style="padding:0;margin:0 auto; text-align: center;background:#fff;">&nbsp;</td>
                  <td height="30" style="border:0; padding:0; margin:0; background:#fff;">&nbsp;</td>
                  <td height="30" style="padding:0;margin:0 auto; text-align: center;background:#fff;">&nbsp;</td>
                  <td style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                  <td width="20" style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                  <td height="30" style="padding:0;margin:0 auto; text-align: center;background:#fff;">&nbsp;</td>
                  <td style="border:0; padding:0; margin:0; background:#fff;">
                    <p style="font-size: 14px;line-height: 31px;text-align:left;background: linear-gradient(180deg,#e5e5e5,#e5e5e5 1px,transparent 0,transparent);background-size: 100% 31px;background-position-y: -1px;word-break: break-all;padding:0;margin:0;">200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다. 200자를적용합니다.</p>
                  </td>
                  <td height="30" style="padding:0;margin:0 auto; text-align: center;background:#fff;">&nbsp;</td>
                  <td width="20" style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                  <td style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                  <td height="30" style="padding:0;margin:0 auto; text-align: center;background:#fff;">&nbsp;</td>
                  <td height="30" style="border:0; padding:0; margin:0; background:#fff;">&nbsp;</td>
                  <td height="30" style="padding:0;margin:0 auto; text-align: center;background:#fff;">&nbsp;</td>
                  <td style="padding:0;margin:0 auto; text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                  <td height="30" colspan="5" style='border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height: 20px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0;padding:0;margin:0;">
            <table style="width:100%; padding:0; margin:0;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td style="border:0; padding:0;margin:0;text-align: left;">
                    <p style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">보낸 사람</p>
                  </td>
                  <td style="border:0; padding:0;margin:0;text-align: right;">
                    <p style="color:#000000; font-size:18px; line-height:26px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">새해 복 많이 받으세요</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style="border:0; padding:0;margin:0;text-align: left;">
                    <p style="color:#000000; font-size:14px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding: 0; margin:0;">김한섬 / 010-****-5678</p>
                  </td>
                  <td style="border:0; padding:0;margin:0;text-align: right;">
                    <p style="color:#000000; font-size:18px; line-height:26px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding: 0; margin:0;"><b>100,000</b> 원 x <b>2개</b></p>
                  </td>
                </tr>
              </tbody>
            </table>  
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height: 20px; border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='border:0; padding:0; margin:0;'>
            <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0' >
              <tbody>
                <tr>
                  <td width="130px" style="color:#000000; font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">카드번호</td>
                  <td width="auto" style="color:#000000;font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:bold; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">1234-1234-1234-1234</td>
                </tr>
                <tr>
                  <td colspan="2" height='10px' style='line-height: 10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="130px" style="color:#000000; font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">PIN번호</td>
                  <td width="auto" style="color:#000000;font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:bold; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">12345678</td>
                </tr>
                <tr>
                  <td colspan="2" height='10px' style='line-height: 10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="130px" style="color:#000000; font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">등록기간</td>
                  <td width="auto" style="color:#000000;font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">21년 11월 23일 자정</td>
                </tr>
                <tr>
                  <td colspan="2" height='10px' style='line-height: 10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="130px" style="color:#000000; font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">유효기간</td>
                  <td width="auto" style="color:#000000;font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">구매일로부터 1년 (소멸시효 5년내 유효기간 연장 가능)</td>
                </tr>
                <tr>
                  <td colspan="2" height='10px' style='line-height: 10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="130px" style="color:#000000; font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">사용처</td>
                  <td width="auto" style="color:#000000;font-size:14px; line-height:22px;font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0;margin:0;vertical-align:top;">www.thehandsome.com (더한섬닷컴 온라인)</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height: 20px; border-bottom:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style='border:0; padding:0; margin:0;text-align: center;'>
            <a href="" style="display:inline-block; color:#ffffff; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; background-color:#000000;border:0; padding:13px 92.5px; margin:0;">e-Gift Card 등록하기</a>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height: 20px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="padding:0;margin:0;background:#F8F8F8;">
            <table style="width:100%; padding:0;margin:0;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td width="16" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                  <td height='8px' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                  <td width="16" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="16" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                  <td style="color:#000000;font-size:13px;line-height:21px;font-family:Dotum,sans-serif; font-weight:normal;padding:0;border:0; margin:0;">e-Gift Cart 등록하시면 e-money로 전환된 후 사용이 가능합니다. 단, 21년 11월 23일 자정까지 미등록 시 자동취소 됩니다.</td>
                  <td width="16" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="16" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                  <td height='8px' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                  <td width="16" height='8' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style='border:0; padding:0; margin:0;'>
            <a href="#" target="_blank" style="color:#000000;font-size:14px;line-height:22px;font-family:Dotum,sans-serif; font-weight:normal;padding:0;border:0; margin:0;text-decoration:none;">이용약관 바로가기 <img src="images/ico-12-next.png" alt="nextImg" style="display:inline-block;border:0;vertical-align: -1px;"></a>
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style="line-height:20px; border-top:1px solid #e5e5e5; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style='padding:0; margin:0;border:0;color:#000000;font-size:14px;line-height:22px;font-family:Dotum,sans-serif; font-weight:bold;'>유의사항</td>
        </tr>
        <tr>
          <td height='8px' style='line-height: 8px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width:100%;padding:0; margin:0;border:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width="10px" style='color:#000000;font-size:13px; line-height:21px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin:0;'>ㆍ</td>
                  <td width="auto" style='color:#000000; font-size:13px; line-height:21px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin:0;'>
                  수신 후 7일 내 등록하지 않으면, 선물이 자동 취소됩니다.
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='4px' style='line-height: 4px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="10px" style='color:#000000;font-size:13px; line-height:21px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin:0;'>ㆍ</td>
                  <td width="auto" style='color:#000000; font-size:13px; line-height:21px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin:0;'>
                  오프라인 매장에서 사용 불가합니다.
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='4px' style='line-height: 4px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="10px" style='color:#000000;font-size:13px; line-height:21px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin:0;'>ㆍ</td>
                  <td width="auto" style='color:#000000; font-size:13px; line-height:21px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin:0;'>
                  선물 보낸 분이 결제를 취소할 경우 본 e-Gift Card는 사용하실 수 없습니다.
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='4px' style='line-height: 4px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="10px" style='color:#000000;font-size:13px; line-height:21px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin:0;'>ㆍ</td>
                  <td width="auto" style='color:#000000; font-size:13px; line-height:21px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin:0;'>
                  e-Gift Card를 등록한 후 선물하기 취소가 불가합니다.
                  </td>
                </tr>
                <tr>
                  <td colspan="2" height='4px' style='line-height: 4px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width="10px" style='color:#000000;font-size:13px; line-height:21px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin:0;'>ㆍ</td>
                  <td width="auto" style='color:#000000; font-size:13px; line-height:21px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin:0;'>
                  고객 개인정보 보호 차원에서 e-Gift 발송 내역을 발송 후 3개월만 보관하고 있습니다.<br>(이후 문자 삭제, 분실 등에 대한 재발송 처리가 안되는 점 유의하시기 바랍니다.)
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style="line-height:20px; border-bottom:1px solid #e5e5e5; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style="line-height:20px; border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0;padding:0;margin:0;color:#000000;font-size:14px;line-height:22px;font-family:Dotum,sans-serif; font-weight:normal;">
            더한섬닷컴 고객센터 1800-5700(유료)
          </td>
        </tr>
        <!-- footer -->
        <tr>
          <td height='100' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 정보통신망 이용 촉진 및 정보 보호 등에 관한 법률에 근거하여 수신동의 여부와 관계없이 법적 의무 사항으로 발송 된 메일입니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
            <td height='4' style='line-height:4px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 발신 전용 메일이므로 회신 되지 않습니다. 문의사항은 <a href='' target='_blank' style='color:#707070;font-weight:bold;text-decoration:underline'>고객센터</a>를 이용해 주시길 바랍니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-bottom:1px solid #f0f0f0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='24' style='line-height:24px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='width:100%; padding:0; margin:0;'>
            <table style='width:100%; border:0; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family : Malgun Gothic, sans-serif; font-weight:normal; border: 0; padding: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>(주)한섬</span>
                    <span style='padding:0 10px 0 0; margin:0;'>대표이사 : 김민덕</span>
                    <span style='padding:0 10px 0 0; margin:0;'>서울시 강남구 도산대로 523 한섬빌딩</span>
                    <span style='padding:0 10px 0 0; margin:0;'>TEL 02-3416-2000</span>
                    <span style='padding:0; margin:0;'>FAX 02-516-7028</span>
                  </td>
                </tr>
                <tr>
                  <td height='10' style='line-height:10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>사업자등록번호 120-81-26337</span>
                    <span style='padding:0 10px 0 0; margin:0;'>통신판매업신고번호 강남 제 00826호</span>
                    <span style='padding:0; margin:0;'>개인정보관리책임자 : 이정득</span>
                    <span style='color: #e7e4d7; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: top; border: 0; padding: 0; margin: 0;'>│</span>
                    <a href='https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1208126337&apv_perm_no=' style='color:#000000; font-size:12px; line-height:15px; font-family:Malgun Gothic,sans-serif; text-decoration:underline; padding:0; margin:0;'>사업자정보확인</a>
                  </td>
                </tr>
                <tr>
                  <td height='14' style='line-height:14px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #707070; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-align: left; letter-spacing: 1px; border: 0; padding: 0; margin: 0;'>COPYRIGHT @ 2023 HANDSOME. ALL RIGHT RESERVED.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='30' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <!-- // footer -->
      </tbody>
    </table>
  </div>
</body>
</html>