<!DOCTYPE html>
<html lang='ko'>
<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='pragma' content='no-cache'/>
<meta http-equiv='Cache-Control' content='No-Cache'/>
<title>[더한섬닷컴] 마케팅정보 수신동의 변경을 안내해 드립니다.</title>
</head>

<body>
  <div style='max-width: 730px; width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;'>
    <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
      <tbody>
        <!-- header -->
        <tr>
          <td height='60' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='39' style='border-top:2px solid #000000;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width:100%; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='text-align: left; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}|' target='_blank' style='border: 0; padding: 0; margin: 0;'><img src='http://www.thehandsome.com/_ui/desktop/common/images/email/logo.gif' alt='THEHANDSOME.COM' style='display: block; border: 0;'></a>
                  </td>
                  <td style='text-align: right; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}/ko/ME/login|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>로그인</a>
                    <span style='color: #000000; font-size: 11px; line-height: 11px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: middle; border: 0; padding: 0; margin: 0;'>│</span>
                    <a th:href='|@{${frontUrl}}/ko/CS/csCenterMain|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>고객센터</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='39' style='border-bottom:1px solid #F0F0F0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- // header -->
        <!-- date -->
        <tr>
          <td height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='text-align: right; border: 0; padding: 0; margin: 0;'>
            <p style='text-align: right; color: #000000; font-size: 12px; line-height: 18px; font-family: Dotum, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;' th:text="${eCurYm}">2022. 07. 07 임시 텍스트</p><!-- 실제 반영시 텍스트 삭제할것 -->
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <!-- // date -->
        <tr>
        <td style="color:#000000; font-size:32px; line-height:40px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">마케팅 수신동의 처리<br />결과 메일입니다.</td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;"><b th:text="${userName}"></b> 고객님, 안녕하십니까?<br />더한섬닷컴은 안전하고 편리한 서비스를 제공하기 위해 최선을 다합니다.</td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
        <td style="color:#000000; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;word-break: keep-all;"><b>정보통신망법 제 50조 제1항 또는 3항</b>에 따라, 고객의 수신동의 또는 철회의사를 표시한 날부터 14일 이내 처리결과를 알려야 하는 의무에 따라 발송되는 안내 메일입니다.</td>
        </tr>
        <tr>
          <td height='60' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:20px; line-height:28px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">광고성 정보 수신 동의 현황</td>
        </tr>
        <tr>
          <td height='16' style='line-height:16px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='border-top:1px solid #000000; padding:0; margin:0;'>
            <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>정보 전송자</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>더한섬닷컴</td>
                </tr>
                <tr>
                  <td colspan="2" height='10' style='line-height:10px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>동의 항목</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>SMS</td>
                </tr>
                <tr>
                  <td colspan="2" height='10' style='line-height:10px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td  width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>동의 여부</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'><span th:text="${smsReceiveYN}"></span></td>
                </tr>
                <tr>
                  <td colspan="2" height='10' style='line-height:10px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>동의 날짜</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'><span th:text="${smsReceiveDate}"></span></td>
                </tr>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-top:1px solid #F0F0F0;padding:0;margin:0;">
            <table style='width:100%; padding: 0;margin:0' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>정보 전송자</td>
                  <td width='auto'style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>더한섬닷컴</td>
                </tr>
                <tr>
                  <td colspan="2" height='10' style='line-height:10px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>동의 항목</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>이메일</td>
                </tr>
                <tr>
                  <td colspan="2" height='10' style='line-height:10px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>동의 여부</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'><span th:text="${emailReceiveYN}"></span></td>
                </tr>
                <tr>
                  <td colspan="2" height='10' style='line-height:10px;border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td width='130' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'>동의 날짜</td>
                  <td width='auto' style='text-align:left; font-size:14px; line-height:22px; border:0; padding:0;'><span th:text="${emailReceiveDate}"></span></td>
                </tr>
                <tr>
                  <td colspan="2" height='20' style='line-height:20px;border-bottom:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- <tr>
          <td height='20' style='line-height:20px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
              <tr>
                <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                  <p style='color:#000000;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                </td>
                <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                  <p style='color:#000000; font-size:14px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>본 처리내역은 정보통신망법에 따라 광고성 정보 수신동의를 받은 날로부터 2년마다 안내해 드리고 있습니다.</p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr> -->
        <tr>
          <td height='60' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:20px; line-height:28px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">수신동의 설정 변경 방법</td>
        </tr>
        <tr>
          <td height='16' style='line-height:16px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td colspan="3" height='16' style='line-height:16px;border:0; padding:0; margin:0;background:#F8F8F8; '>&nbsp;</td>
                </tr>
                <tr>
                  <td width='16' style='border:0; padding:0; margin:0;background:#F8F8F8;'>&nbsp;</td>
                  <td style="color:#000000; font-size:14px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; text-align: center; background:#F8F8F8; border:0; padding:0; margin:0;word-break:break-word;">마이페이지 > 정보관리 > 개인정보 변경/탈퇴 > 마케팅 정보 수신동의</td>
                  <td width='16' style='border:0; padding:0; margin:0;background:#F8F8F8;'>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="3" height='16' style='line-height:16px;border:0; padding:0; margin:0;background:#F8F8F8; '>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
              <tr>
                <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                  <p style='color:#000000;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                </td>
                <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                  <p style='color:#000000; font-size:14px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>본 메일은 법령에 따른 통지 의무사항으로 메일 수신동의 여부와 관계없이 발송되는 메일입니다.</p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='40' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
              <tr>
                <td width='auto' height='50' style='border:0; padding:0; margin:0;'>&nbsp;</td>
                <td width='335' height='50' style='border: 0; padding: 0; margin: 0;'>
                  <a th:href="|@{${frontUrl}}/ko/ME/myPageMain|" target='_blank' style='display:block; color:#ffffff; font-size:16px;height:50px;width:335px;text-align: center;line-height:50px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; background-color:#000000; border:0; padding:0; margin:0'>마이페이지로 이동</a>
                </td>
                <td width='auto' height='50' style='border:0; padding:0; margin:0;'>&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- footer -->
        <tr>
          <td height='100' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 정보통신망 이용 촉진 및 정보 보호 등에 관한 법률에 근거하여 수신동의 여부와 관계없이 법적 의무 사항으로 발송 된 메일입니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
            <td height='4' style='line-height:4px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 발신 전용 메일이므로 회신 되지 않습니다. 문의사항은 <a href='' target='_blank' style='color:#707070;font-weight:bold;text-decoration:underline'>고객센터</a>를 이용해 주시길 바랍니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-bottom:1px solid #f0f0f0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='24' style='line-height:24px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='width:100%; padding:0; margin:0;'>
            <table style='width:100%; border:0; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family : Malgun Gothic, sans-serif; font-weight:normal; border: 0; padding: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>(주)한섬</span>
                    <span style='padding:0 10px 0 0; margin:0;'>대표이사 : 김민덕</span>
                    <span style='padding:0 10px 0 0; margin:0;'>서울시 강남구 도산대로 523 한섬빌딩</span>
                    <span style='padding:0 10px 0 0; margin:0;'>TEL 02-3416-2000</span>
                    <span style='padding:0; margin:0;'>FAX 02-516-7028</span>
                  </td>
                </tr>
                <tr>
                  <td height='10' style='line-height:10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>사업자등록번호 120-81-26337</span>
                    <span style='padding:0 10px 0 0; margin:0;'>통신판매업신고번호 강남 제 00826호</span>
                    <span style='padding:0; margin:0;'>개인정보관리책임자 : 이정득</span>
                    <span style='color: #e7e4d7; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: top; border: 0; padding: 0; margin: 0;'>│</span>
                    <a href='https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1208126337&apv_perm_no=' style='color:#000000; font-size:12px; line-height:15px; font-family:Malgun Gothic,sans-serif; text-decoration:underline; padding:0; margin:0;'>사업자정보확인</a>
                  </td>
                </tr>
                <tr>
                  <td height='14' style='line-height:14px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #707070; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-align: left; letter-spacing: 1px; border: 0; padding: 0; margin: 0;'>COPYRIGHT @ 2023 HANDSOME. ALL RIGHT RESERVED.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='30' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <!-- // footer -->
      </tbody>
    </table>
  </div>
</body>
</html>