<!DOCTYPE html>
<html lang='ko'>
<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='pragma' content='no-cache'/>
<meta http-equiv='Cache-Control' content='No-Cache'/>
<title>[더한섬닷컴] $고객명$ 고객님께서 기다리시던 $상품명$ 상품의 예약판매가 시작되었습니다.</title>
</head>

<body>
  <div style='max-width: 730px; width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;'>
    <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
      <tbody>
        <!-- header -->
        <tr>
          <td height='60' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='39' style='border-top:2px solid #000000;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width:100%; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='text-align: left; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}|' target='_blank' style='border: 0; padding: 0; margin: 0;'><img src='http://www.thehandsome.com/_ui/desktop/common/images/email/logo.gif' alt='THEHANDSOME.COM' style='display: block; border: 0;'></a>
                  </td>
                  <td style='text-align: right; border: 0; padding: 0;'>
                    <a th:href='|@{${frontUrl}}/ko/ME/login|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>로그인</a>
                    <span style='color: #000000; font-size: 11px; line-height: 11px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: middle; border: 0; padding: 0; margin: 0;'>│</span>
                    <a th:href='|@{${frontUrl}}/ko/CS/csCenterMain|' target='_blank' style='color: #000000; font-size: 13px; line-height: 21px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;'>고객센터</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='39' style='border-bottom:1px solid #F0F0F0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- // header -->
        <!-- date -->
        <tr>
          <td height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='text-align: right; border: 0; padding: 0; margin: 0;'>
            <p style='text-align: right; color: #000000; font-size: 12px; line-height: 18px; font-family: Dotum, sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;' th:text="${eCurYm}">2022. 07. 07 임시 텍스트</p><!-- 실제 반영시 텍스트 삭제할것 -->
          </td>
        </tr>
        <tr>
          <td height='40' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <!-- // date -->
        <tr>
        <td style="color:#000000; font-size:32px; line-height:40px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">더블 브레스티드 크롭 재킷<br /> 예약 판매 안내</td>
        </tr>
        <tr>
          <td height="40px" style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:16px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; border:0; padding:0;word-break: keep-all;">
            안녕하세요, <b>${userName}</b> 고객님.<br/>재입고 알림을 신청하신 상품 <b>IL2CAFOT414W_BK</b>이 더한섬닷컴에서 예약판매 진행 중입니다.
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:16px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; border:0; padding:0;word-break: keep-all;">
            <b>아래 상품 사진 또는 상품명을 클릭하시면 바로 상품 상세 페이지로 이동됩니다.</b>
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#DF2101; font-size:16px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; border:0; padding:0;word-break: keep-all;">
            예약하신 상품은 순차적으로 배송됩니다.<br />(입고예정일은 제작상황에 따라 변경될 수 있습니다.)
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:16px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; border:0; padding:0;word-break: keep-all;">
            상품에 대한 문의 사항이 있으시면 상품 Q&A 게시판을 이용해주시거나 저희 더한섬닷컴 고객센터 1800-5700(유료)로 문의해주시기 바랍니다.
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="color:#000000; font-size:16px; line-height:22px; font-family:Dotum,sans-serif; font-weight:normal; border:0; padding:0;word-break: keep-all;">
            오늘도 감사합니다.
          </td>
        </tr>
        <tr>
          <td height='72' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <table style="width:100%; border:0; padding:0; margin:0;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td width="83px" style="padding:0;border:0; margin:0;">
                    <div style="width:83px;height:125px;"><a href="" target="_blank" style="text-decoration: none;"><img src="images/dummyimg-01.jpg" alt="productImage" style="width:100%;display: block;border:0;"></a></div>
                  </td>
                  <td width="auto" style="padding:0;border:0; margin:0;vertical-align: top;">
                    <div style="padding:6px 0 0 16px;margin:0;">
                      <a href="" target="_blank" style="text-decoration: none;">
                        <p style="font-size:11px;line-height:17px;color: #000000; font-family:Dotum,sans-serif; font-weight:bold;padding:0 0 1px 0;margin:0;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">LANVIN COLLECTION</p>
                        <p style="font-size:12px;line-height:18px;color: #000000; font-family:Dotum,sans-serif; font-weight:normal;padding:0 0 4px 0;margin:0;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">더블 브레스티드 크롭 재킷</p>
                        <p style="font-size:12px;line-height:18px;color: #000000; font-family:Dotum,sans-serif; font-weight:normal;padding:0 0 12px 0;margin:0">CHARCOAL GRAY<span style="display:inline-block;padding:0 0 0 4px;">90</span></p>
                        <p style="font-size:12px;line-height:18px;color: #000000; font-family:Dotum,sans-serif; font-weight:normal;padding:0;margin:0"><b>1,450,000</b>원</p>
                        <p style="font-size:13px;line-height:21px;color: #000000; font-family:Dotum,sans-serif; font-weight:normal;padding:0;margin:0;overflow: hidden;">
                          알림완료<span style="color: #707070;padding:0 0 0 4px;margin:0;">2021.10.30</span>
                        </p>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-bottom:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height="40" style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='border:0; padding:0; margin:0;text-align: center;'>
            <a href="" style="display:inline-block; color:#fff; font-size:16px; line-height:24px; font-family:Dotum,sans-serif; font-weight:normal; text-decoration:none; background-color:#000000; border:0; padding:13px 117px; margin:0;">상품 보러가기</a>
          </td>
        </tr>
        <!-- footer -->
        <tr>
          <td height='100' style="border:0; padding:0; margin:0;">&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 정보통신망 이용 촉진 및 정보 보호 등에 관한 법률에 근거하여 수신동의 여부와 관계없이 법적 의무 사항으로 발송 된 메일입니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
            <td height='4' style='line-height:4px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                    <p style='color:#707070;font-size:14px; font-family:Dotum,sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                  </td>
                  <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                    <p style='color:#707070; font-size:11px; line-height:17px;font-family:Dotum,sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      본 메일은 발신 전용 메일이므로 회신 되지 않습니다. 문의사항은 <a href='' target='_blank' style='color:#707070;font-weight:bold;text-decoration:underline'>고객센터</a>를 이용해 주시길 바랍니다.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-bottom:1px solid #f0f0f0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='24' style='line-height:24px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='width:100%; padding:0; margin:0;'>
            <table style='width:100%; border:0; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family : Malgun Gothic, sans-serif; font-weight:normal; border: 0; padding: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>(주)한섬</span>
                    <span style='padding:0 10px 0 0; margin:0;'>대표이사 : 김민덕</span>
                    <span style='padding:0 10px 0 0; margin:0;'>서울시 강남구 도산대로 523 한섬빌딩</span>
                    <span style='padding:0 10px 0 0; margin:0;'>TEL 02-3416-2000</span>
                    <span style='padding:0; margin:0;'>FAX 02-516-7028</span>
                  </td>
                </tr>
                <tr>
                  <td height='10' style='line-height:10px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0;'>
                    <span style='padding:0 10px 0 0; margin:0;'>사업자등록번호 120-81-26337</span>
                    <span style='padding:0 10px 0 0; margin:0;'>통신판매업신고번호 강남 제 00826호</span>
                    <span style='padding:0; margin:0;'>개인정보관리책임자 : 이정득</span>
                    <span style='color: #e7e4d7; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; vertical-align: top; border: 0; padding: 0; margin: 0;'>│</span>
                    <a href='https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1208126337&apv_perm_no=' style='color:#000000; font-size:12px; line-height:15px; font-family:Malgun Gothic,sans-serif; text-decoration:underline; padding:0; margin:0;'>사업자정보확인</a>
                  </td>
                </tr>
                <tr>
                  <td height='14' style='line-height:14px; border:0; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #707070; font-size: 12px; line-height: 18px; font-family: Malgun Gothic, sans-serif; font-weight: normal; text-align: left; letter-spacing: 1px; border: 0; padding: 0; margin: 0;'>COPYRIGHT @ 2023 HANDSOME. ALL RIGHT RESERVED.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='30' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <!-- // footer -->
      </tbody>
    </table>
  </div>
</body>
</html>