<!DOCTYPE html>
<html lang='ko'>
<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta http-equiv='pragma' content='no-cache'/>
<meta http-equiv='Cache-Control' content='No-Cache'/>
<title>Thank You & See You Again!</title>
</head>

<body>
  <div style='max-width: 730px; width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;'>
    <table style='width:100%; padding:0; margin:0;' border='0' cellpadding='0' cellspacing='0'>
      <tbody>
        <!-- header -->
        <tr>
          <td height='60' style='border:0;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='39' style='border-top:2px solid #000000;padding:0;margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width:100%; padding:0; margin:0;border:0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td style='text-align:left; border:0; padding:0;'>
                    <a href="|@{${frontUrl}}/en|" target='_blank' style='border:0; padding:0; margin:0;'><img src='http://www.thehandsome.com/_ui/desktop/common/images/email/logo.gif' alt='THEHANDSOME.COM' style="display:block;border:0;"></a>
                  </td>
                  <td style='text-align:right; border:0; padding:0;'>
                    <a href="" target='_blank' style='color:#000000; font-size:13px; line-height:21px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;'>Login</a>
                    <span style='color:#000000; font-size:11px; line-height:11px; font-family:Malgun Gothic,sans-serif; font-weight:normal; vertical-align:middle; border:0; padding:0; margin:0;'>│</span>
                    <a href="" target='_blank' style='color:#000000; font-size:13px; line-height:21px; font-family:Malgun Gothic,sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;'>Customer Center</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
            <td height='39' style='border-bottom:1px solid #F0F0F0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- //header -->
        <!-- date -->
        <tr>
          <td height='20' style='line-height:20px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='text-align: right; border: 0; padding: 0; margin: 0;'>
            <p style='text-align: right; color: #000000; font-size: 12px; line-height: 18px; font-family: sans-serif; font-weight: normal; text-decoration: none; border: 0; padding: 0; margin: 0;' th:text="${eCurYm}">2022. 07. 07 임시 텍스트</p><!-- 실제 반영시 텍스트 삭제할것 -->
          </td>
        </tr>
        <tr>
          <td height='40' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- // date -->
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <p style="color:#000000; font-size:18px; line-height:26px; font-family:sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">Thank You & See You Again!</p>
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <h1 style="color:#000000; font-size:32px; line-height:40px; font-family:sans-serif; font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">Information on processing of<br>membership withdrawal</h1>
          </td>
        </tr>
        <tr>
          <td height='40' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <p style="color:#000000; font-size:16px; line-height:24px; font-family:sans-serif;font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;word-break: keep-all;">Hi <b><span th:text="${userName}"></span></b><br>You have been processed as having withdrawn your membership from TheHandsome.com.</p>
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <p style="color:#000000; font-size:16px; line-height:24px; font-family:sans-serif;font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;word-break: keep-all;">TheHandsome.com will work harder to provide a better shopping experience when we meet again. Thank you and Good-bye.</p>
          </td>
        </tr>
        <tr>
          <td height='12' style='line-height:12px;border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style="border:0; padding:0; margin:0;">
            <p style="color:#000000; font-size:16px; line-height:24px; font-family:sans-serif;font-weight:normal; text-decoration:none; border:0; padding:0; margin:0;">If you have inquiries, please contact us by e-mail <b>hsglobal@thehandsome.com.</b></p>
          </td>
        </tr>
        <!-- footer -->
        <tr>
          <td height='100' style='border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px;border-top:1px solid #000000; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
              <tr>
                <td width='10' style='border: 0; padding: 0; margin: 0; vertical-align: top;'>
                  <p style='color:#707070;font-size:14px; font-family:sans-serif; font-weight:normal; vertical-align:top; border:0; padding:0;margin: 0;'>ㆍ</p>
                </td>
                <td width='auto' style='border: 0; padding: 0; margin: 0;'>
                  <p style='color:#707070; font-size:11px; line-height:17px;font-family:sans-serif; font-weight:normal; text-align:left; border:0; padding:0;margin: 0;'>
                      This email is an unmonitored address and replies to this email cannot be responded to or read.<br>For further inquiries, please contact hsglobal@thehandsome.com.
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='20' style='line-height:20px; border-bottom: 1px solid #f0f0f0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <tr>
          <td style='border: 0; padding: 0; margin: 0;'>
            <table style='width: 100%; padding: 0; margin: 0;' border='0' cellpadding='0' cellspacing='0'>
              <tbody>
                <tr>
                  <td height='24' style='line-height:24px; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0'>
                  <span style='padding: 0 15px 0 0; margin: 0;'>Handsome Co., Ltd.</span>
                  <span style='padding: 0 15px 0 0; margin: 0;'>CEO : Kim Min-deok</span>
                  <span style='padding: 0 15px 0 0; margin: 0;'>Handsome Bldg. 523, Dosandae-ro, Gangnam, Seoul</span>
                  <span style='padding: 0 15px 0 0; margin: 0;'>TEL 02-3416-2000</span>
                  </td>
                </tr>
                <tr>
                  <td height='10' style='line-height:10px; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0;'>
                  <span style='padding: 0 10px 0 0; margin: 0;'>FAX 02-516-7028</span>
                  <span style='padding: 0 10px 0 0; margin: 0;'>Business Registration No. 120-81-26337</span>
                  <span style='padding: 0 10px 0 0; margin: 0;'>Online Marketing Business Reg. No. Gangam No. 00826</span>
                  </td>
                </tr>
                <tr>
                  <td height='6' style='line-height:6px; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #000000; font-size: 12px; line-height: 18px; font-family: sans-serif; font-weight: normal; border: 0; padding: 0; margin: 0;'>
                  <span style='display: block; padding: 0; margin: 0;'>Personal Info Manager : Lee Jeong-deuk</span>
                  </td>
                </tr>
                <tr>
                  <td height='14' style='line-height:14px; padding:0; margin:0;'>&nbsp;</td>
                </tr>
                <tr>
                  <td style='color: #707070; font-size: 12px; line-height: 18px; font-family: sans-serif; font-weight: normal; text-align: left; letter-spacing: 1px; border: 0; padding: 0; margin: 0;'>
                  COPYRIGHT @ 2023 HANDSOME. ALL RIGHT RESERVED.
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height='30' style='line-height:30px; border:0; padding:0; margin:0;'>&nbsp;</td>
        </tr>
        <!-- // footer -->
      </tbody>
    </table>
  </div>
</body>
</html>